extends layout
block usr
  if(user)
    a.navbar-brand(href='/')  #{user.username}
  if(!user)
    a.navbar-brand(href='/') Admin
block content
  br
  br
  br
  if(buses)
    table(width= "100%")
      thead
        tr
        th Bus Name
        th Registration Number
        th Route
      tbody
          for bus in buses
              tr
                  td= bus.name
                  td= bus.regno
                  td= bus.route

  .container
    h1 Add Buses
    br
    form(role='form', action="/bus",method="post", style='max-width: 300px;')
      .form-group
        input.form-control(type='text', name="name",placeholder='Enter Name Of Bus')
 
      .form-group
          input.form-control(type='text', name="regno", placeholder='Registration Number')
      .form-group
        input.form-control(type='text', name="route", placeholder='Route')
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
